<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">COMPONENTE PADRE: Barra de Progreso</h4>

                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" [attr.ariaValuenow]="progreso1" [attr.ariaValuemin]="0" [attr.ariaValuemax]="100" [style.width]="progreso1 + '%'">
                    </div>
                </div>
                <br>
                <h4 class="card-title">2da Barra de Progreso</h4>
                <div class="progress2">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" [attr.ariaValuenow]="progreso2" [attr.ariaValuemin]="0" [attr.ariaValuemax]="100" [style.width]="progreso2 + '%'">
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="row">

    <div class="col-6">
        <div class="card">
            <div class="card-body"> COMPONENTE INCREMENTADOR HIJO 1:
                <br>
                <!-- COMPONENTE HIJO -->
                <app-incrementador (evCambioValor)="progreso1=$event" leyenda="Progress Azul" [progreso]="progreso1"></app-incrementador>

            </div>
        </div>
    </div>


    <div class="col-6">
        <div class="card">
            <div class="card-body"> COMPONENTE INCREMENTADOR HIJO 2:
                <br>
                <!-- COMPONENTE HIJO -->
                <app-incrementador (evCambioValor)="progreso2=$event" leyenda="Progress Verde" [progreso]="progreso2"></app-incrementador>

            </div>
        </div>
    </div>

</div>