<div class="row animated fadeIn">
    <div class="col-lg-7">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Perfil del usuario</h4>
                <h6 class="card-subtitle">nombre usuario</h6>

                <form ngNativeValidate #f="ngForm" (ngSubmit)="guardarFormulario(f.value)" class="form p-t-20">
                    <div class="form-group">
                        <label for="exampleInputuname">Nombres</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-user"></i></div>
                            <input [ngModel]="usuario.nombre" name="nombre" type="text" class="form-control" placeholder="Nombre de Usuario" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="exampleInputuname">Apellido Paterno</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-user"></i></div>
                            <input [ngModel]="usuario.appaterno" name="appaterno" type="text" class="form-control" placeholder="Apellido Paterno" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="exampleInputuname">Apellido Materno</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-user"></i></div>
                            <input [ngModel]="usuario.apmaterno" name="apmaterno" type="text" class="form-control" placeholder="Apellido Materno">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="exampleInputEmail1">Email de Usuario</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-email"></i></div>
                            <input [ngModel]="usuario.email" [disabled]="usuario.google" name="email" type="email" class="form-control" placeholder="Email de Usuario" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="pwd1">Password</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-lock"></i></div>
                            <input type="password" class="form-control" id="pwd1" placeholder="Enter email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="pwd2">Confirm Password</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-lock"></i></div>
                            <input type="password" class="form-control" id="pwd2" placeholder="Enter email">
                        </div>
                    </div>
                    <!-- 
                    <div class="form-group">
                        <div class="checkbox checkbox-success">
                            <input id="checkbox1" type="checkbox">
                            <label for="checkbox1"> Remember me </label>
                        </div>
                    </div> -->

                    <button type="submit" class="btn btn-block btn-success waves-effect waves-light m-r-10">
                      <i class="fa fa-save"></i>
                      Guardar
                    </button>

                    <!-- <button type="submit" class="btn btn-inverse waves-effect waves-light">
                        <i class="fa fa-window-close"></i>
                      Cancelar</button> -->

                </form>
            </div>
        </div>
    </div>


    <div class="col-lg-5" align="center">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Fotografía del Usuario</h4>
                <h6 class="card-subtitle">{{usuario.nombre}}</h6>

                <img *ngIf="!imagenTemp" [src]="usuario.img | imagen" class="w150">
                <img *ngIf="imagenTemp" [src]="imagenTemp" class="w150">
                <input (change)="seleccionImagen($event.target.files[0])" type="file">
                <br>
                <br>
                <button (click)="cambiarImagen()" [disabled]="!imagenSubir" type="button" class="btn btn-block btn-success waves-effect waves-light m-r-10">
                    <i class="fa fa-save"></i>
                    Actualizar Foto
                </button>

            </div>
        </div>
    </div>


</div>