<h3>
    {{leyenda}} - {{progreso}}
</h3>

<div class="input-group">
    <span class="input-group-button">
    <button (click)="cambiarProgreso(-5)" class="btn btn-primary" type="button">
        <i class="mdi mdi-minus"></i>
    </button>
  </span>

    <input #txtProgress [(ngModel)]="progreso" (ngModelChange)="emiteCambio($event)" name="progreso" type="number" min="1" max="100" class="form-control">

    <span class="input-group-btn">
    <button (click)="cambiarProgreso(+5)" class="btn btn-primary" type="button">
        <i class="mdi mdi-plus"></i>
    </button>
  </span>
</div>